.handle {
    border: 6px solid #FBFBFB;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    height: 45px;
    top: 65%;
    left: 77%;
    position: absolute;
    width: 10px;
}

.loader {
    display: inline-block;
    width: 60px;
    height: 90px;
    left: 43%;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    top: 50%;
    position: absolute;
    border: 6px solid #FBFBFB;
    transform: rotate(180deg);
}

.loader-container {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    top: 0;
}

.loader-container p {
    position: absolute;
    color: white;
    font-size: 1.5rem;
    left: 38.7%;
    top: 105.6%;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #eaaa2e;
  animation: loader-inner 3s infinite ease-in;
}




@keyframes loader-inner {
  0% {
    height: 100%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 0%;
  }
  
  75% {
    height: 0%;
  }
  
  100% {
    height: 0%;
  }
}

@media (max-width:990px) {
  .group {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    top:35%;
  }
}

@media (min-width:992px) {


    .group {
      width:500px;
      margin: 0 auto;
    }

    .loader {
      display: inline-block;
      width: 60px;
      height: 90px;
      left: 47%;
      border-top-right-radius: 9px;
      border-top-left-radius: 9px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      top: 320px;
      position: relative;
      border: 6px solid #FBFBFB;
      transform: rotate(180deg);
      margin: 0 auto;
    }

    .handle {
      border: 6px solid #FBFBFB;
      border-top-right-radius: 9px;
      border-bottom-right-radius: 9px;
      height: 45px;
      top: 391px;
      left: 45%;
      position: relative;
      width: 10px;
      display: inline-block;
    }

    .loader-container p {
      position: relative;
      color: white;
      font-size: 1.5rem;
      left: 46%;
      top: 494px;
    }

}