@import "navbar.css";
@import "cards.css";
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');

body {
    background-color: #1d212d;
}

h1,h2,h3,p {
    font-family: 'IBM Plex Sans', sans-serif;
}

main {
    margin:20px auto;
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}